<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>JobName</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BranchName</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AnsibleHost</name>
          <description></description>
          <defaultValue>ec2-user@ec2-54-169-184-115.ap-southeast-1.compute.amazonaws.com</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>ssh://git@stash.leapset.com:7999/~chamathb/merchant_api.git</url>
        <credentialsId>375c5a41-54eb-492b-8083-5b3b05badcd9</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>${BranchName}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>Build=$(cat .relman/relman.conf | jq --raw-output &apos;.component.build&apos;)
sh $Build</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#git_branch_local=$(echo &apos;&quot;&apos;$GIT_BRANCH&apos;&quot;&apos; | sed -e &quot;s|origin/relman/ci-dev/||g&quot;)
#git_branch_remote=$(echo $GIT_BRANCH | sed -e &quot;s|origin/||g&quot;)
#echo &quot;git_branch_remote=$git_branch_remote&quot; &gt; build.properties

git_branch_local=&apos;&quot;&apos;$JobName&apos;&quot;&apos;
#echo $git_branch_local
#version=$(cat .relman/jobs/jobs.json | jq --raw-output &apos;.&quot;&apos;ci-dev&apos;&quot;.&apos;$git_branch_local&apos;.version&apos;)
env=$(cat .relman/jobs/$JobName | jq --raw-output &apos;.environment&apos;)
configRef=$(cat .relman/jobs/$JobName | jq --raw-output &apos;.configRef&apos;)
configGit=$(cat .relman/relman.conf | jq --raw-output &apos;.component.configRepo&apos;)

#echo &quot;version=$version&quot; &gt;&gt; build.properties
echo &quot;env=$env&quot; &gt;&gt; build.properties
echo &quot;configRef=$configRef&quot; &gt;&gt; build.properties
echo &quot;configGit=$configGit&quot; &gt;&gt; build.properties



#echo file=mapi_$version-${BUILD_NUMBER}.war &gt;&gt; build.properties
#mv merchant-web/target/mapi.war merchant-web/target/mapi_$version-${BUILD_NUMBER}.war</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.1.5">
      <info>
        <propertiesFilePath>build.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>if [[ -n &quot;$configRef&quot; ]]
then
    echo &quot;Config Changes Detected&quot;;
    cd .relman;
    mkdir config;
    cd config;
    git clone $configGit;
    #change to repo name
    cd mapi;
    echo $configRepo;
    git checkout $configRef;
    scp * ${AnsibleHost}:/home/ec2-user/deployment/component/configs/;
    ssh ${AnsibleHost} &quot;cp /home/ec2-user/configs/server.xml_original /home/ec2-user/configs/server.xml&quot;
    ssh ${AnsibleHost} &quot;ansible-playbook configprocessor.yaml --extra-vars &apos;env=$env path=/home/ec2-user/configs&apos;&quot;
    ssh ${AnsibleHost} &quot;ansible-playbook configprocessor.yaml --extra-vars &apos;env=$env path=/home/ec2-user/deployment/component/configs/&apos;&quot;
    cd ../../;
    rm -rf config;
else
    echo &quot;No config changes detected&quot;
fi
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>Deploy=$(cat .relman/relman.conf | jq --raw-output &apos;.component.deploy&apos;)
scp merchant-web/target/*.war ${AnsibleHost}:/home/ec2-user/deployment/component/artifact/
scp $Deploy ${AnsibleHost}:/home/ec2-user/deployment/
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@2.7.0">
      <config>
        <scriptFiles/>
        <groovyScripts/>
        <buildSteps>
          <org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
            <results>
              <string>SUCCESS</string>
            </results>
            <role>BOTH</role>
            <buildSteps>
              <hudson.tasks.Shell>
                <command>#ssh ec2-user@ec2-54-169-184-115.ap-southeast-1.compute.amazonaws.com &quot;ansible-playbook merchant_api/deploy.yml --extra-vars &apos;variable_host=$env&apos;&quot;
ssh ${AnsibleHost} &quot;ansible-playbook deploy.yaml --extra-vars &apos;host_group=$env mapi=deployment/deploy.yaml&apos;&quot;;

ssh ${AnsibleHost} &quot;rm -rf /home/ec2-user/deployment/component/artifact/*&quot;;
ssh ${AnsibleHost} &quot;rm -rf /home/ec2-user/deployment/component/configs/*&quot;;
ssh ${AnsibleHost} &quot;rm -rf deployment/deploy.yaml&quot;;</command>
              </hudson.tasks.Shell>
            </buildSteps>
          </org.jenkinsci.plugins.postbuildscript.model.PostBuildStep>
        </buildSteps>
        <markBuildUnstable>false</markBuildUnstable>
      </config>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>